{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Django Calculator App</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#instructions">Instructions</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container-fluid flex-grow-1" style="margin-bottom: 20rem;">
      {% if error %}
        <div class="row"> 
          <div class="col-md-6" style="margin: 0 auto;">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>

      {% endif %}

      {% if result %}
        <div class="row">
          <div class="col-md-6" style="margin: 0 auto;">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{q}} = {{ans}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-6" style="margin: 1rem auto 0  auto;">
          <img class="img-fluid" src="{% static 'main.jpg' %}">
          <div class="card">
            <div class="card-body">
              <form method="GET" action="{% url 'submitquery'%}">
                <div class="mb-3">
                  <input type="search" class="form-control" name="query" id="query">
                </div>

                <div class="row">
                  <div class="col-6">
                    <input type="submit" class="btn btn-success" value="Calculate" style="display: block; margin: 0 auto;">
                  </div>
                
                  <div class="col-6">
                    <input type="reset" class="btn btn-danger" value="Clear" style="display: block; margin: 0 auto;">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" style="margin: 2rem auto 0 auto;">
          <p class="display-4" id="about" name="about" style="text-align: center;">
            About
          </p>
          <hr>
          <p class="lead" style="text-align: center;">
            Our Calculator app can perform mathematical operations
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" style="margin: 2rem auto 0 auto;">
          <p class="display-4" id="instructions" name="about" style="text-align: center;">
            Instructions
          </p>
          <hr>
          <ul class="list-group">
            <li class="list-group-item">+ Addition</li>
            <li class="list-group-item">- Subtraction</li>
            <li class="list-group-item">* Multiplication</li>
            <li class="list-group-item">/ Division</li>
            <li class="list-group-item">// Floor Division</li>
            <li class="list-group-item">** Exponential</li>
            <li class="list-group-item">% Mod</li>
            <li class="list-group-item">( ) Parentheses</li>
          </ul>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 bottom">
      <div class="container-fluid text-center">
        <p class="mb-0">&copy; 2025 Django Calculator App. All rights reserved.</p>
      </div>
    </footer>

    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
